* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  // overflow-x: hidden;
  /* //so height and width will be as we want */
}

h2 {
  font-size: 60px;
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  color: #333;
  text-align: left;
}

img {
  max-width: 100%;
}

p {
  line-height: 1.8em;
}

.wrapper {
  max-width: 1080px;
  margin: auto;
}

body {
  font-family: "ZCOOL XiaoWei", serif;
  margin: 0;
}

.page-wrapper {
  overflow: hidden;
}

/* nav */

nav {
  height: 80px;
  width: 100%;
  padding: 0;
  position: fixed;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  box-shadow: 0 0 30px rgba(7, 51, 84, 0.17);
  background-color: white;

  .wrapper {
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }

  .row,
  .col {
    display: flex;
    align-items: center;
    height: auto;
  }

  .col-left {
    justify-content: flex-start;
  }
  .row {
    justify-content: space-between;
    max-width: 1440px;
    padding: 0 40px;
    height: 100%;
  }
  .col-right {
    justify-content: flex-end;
  }
}

.title-logo {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: clamp(16px, 2vw, 23px);
  letter-spacing: 1px;
  color: #20292f;
  text-decoration: none;
}

.title-logo:hover {
  cursor: pointer;
}

.desktop-menu {
  display: flex;
  gap: 22px;

  @media (max-width: 830px) {
    display: none;
  }
}

.menu_button {
  height: 32px;
  width: 32px;
  margin-left: 16px;
  background-color: skyblue;
  display: none;
  cursor: pointer;

  @media (max-width: 830px) {
    display: block;
  }
}

nav li {
  display: inline-block;
  list-style: none;
  flex-grow: 1;
  color: #20292f;

  text-decoration: none;
}

nav li a {
  color: #20292f;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 400px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

nav li a:hover {
  color: #71818c;
  cursor: pointer;
}

nav li:nth-last-of-type(1) {
  margin: 0;
}

.cart-icon {
  height: 17px;
  justify-content: right;
  margin-left: 22px;
}

/* hero */

.block.hero {
  position: relative;

  img {
    width: 100%;
  }

  .asset {
    position: absolute;
    bottom: 0;
    width: 60vw;
    max-width: 600px;
    height: 500px;
  }
  .asset_wrapper {
    position: relative;
  }

  .one {
    left: 0;

    .big_fern_left {
      position: absolute;
      bottom: 0;
      left: -220px;
      z-index: 1;

      @media (max-width: 970px) {
        width: 350px;
        height: auto;
        right: 0px;
      }
    }
    .mint_fern {
      position: absolute;
      bottom: -40px;
      left: -140px;
      z-index: 0;
      width: 70%;

      @media (max-width: 970px) {
        width: 350px;
        height: auto;
        right: 0px;
      }
    }
  }
  .two {
    right: -200px;

    .plant_right {
      z-index: 1;
      position: absolute;
      width: 500px;
      bottom: -20px;
      right: 50px;

      @media (max-width: 970px) {
        width: 350px;
        height: auto;
        right: 20px;
        bottom: 0px;
      }
    }

    .plant_right2 {
      position: absolute;
      top: 150px;
      right: 100px;
      z-index: 0;
      width: 300px;
      @media (max-width: 970px) {
        width: 250px;
        height: auto;
        right: 0px;
      }
    }
  }
  .wrapper {
    background-image: linear-gradient(
        180deg,
        rgba(249, 243, 235, 0.8) 0%,
        rgba(249, 243, 235, 0.8) 100%
      ),
      url(https://sayeed.sandbox.etdevs.com/divi/wp-content/uploads/sites/2/2020/05/holistic-healer-21.png);
    background-repeat: repeat;
    background-size: initial;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 100%;

    .hero_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 600px;
      padding-top: 10%;
      padding-bottom: 10%;
    }
  }
}

.logo {
  margin-top: 87px;
}
.hero-inner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  @media (max-width: 980px) {
    max-width: 70%;
  }
}

.title_container {
  border-left: 5px solid #a9804a;
  display: flex;
  justify-content: center;
}

.hero-title {
  letter-spacing: 1px;
  margin: 15px;
  font-size: 80px;
  color: #a9804a;
  font-family: "ZCOOL XiaoWei", Georgia, "Times New Roman", serif;
  font-weight: 300;
  @media (max-width: 980px) {
    font-size: 48px;
  }
  @media (max-width: 767px) {
    font-size: 30px;
  }
}

.hero-description {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #666666;
  font-size: 18px;
  line-height: 1.4em;
  word-wrap: break-word;
  width: 88%;
  max-width: 600px;

  @media (max-width: 980px) {
    font-size: 16px;
  }

  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.cta,
.btn {
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  border-radius: 50px;
  background: #a9804a;
  color: white;
  padding: 25px 45px;
  font-size: 22px;
  display: inline-block;
  position: relative;
  @media (max-width: 980px) {
    font-size: 18px;
  }

  .fas.fa-chevron-right {
    opacity: 0;
    position: absolute;
    right: 15px;
    // transition: all .2s ease-in-out;
  }
}

.cta:hover {
  .fas.fa-chevron-right {
    opacity: 1;
    transition: all 0.1s ease-in-out;
    position: absolute;
    transform: translateX(50%);
    right: 15px;
  }
}

// SECTION TWO

.section_two {
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 90px auto;
  text-align: center;
  max-width: 1080px;

  .section_two_title {
    padding-bottom: 40px;
    font-family: Josefin Sans;
    font-weight: 600;
    font-size: 60px;
    color: #333;
    @media (max-width: 980px) {
      font-size: 42px;
    }
    @media (max-width: 767px) {
      font-size: 24px;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;

    h3 {
      font-family: "Josefin Sans", sans-serif;
      font-size: 20px;
      color: #333;
      margin-bottom: 10px;
      @media (max-width: 767px) {
        font-size: 18px;
      }
    }
    p {
      font-family: sans-serif;
      font-size: 16px;
      color: #666;
      @media (max-width: 767px) {
        font-size: 14px;
      }
    }

    .flex-top {
      display: flex;
      @media (max-width: 980px) {
        flex-direction: column;
      }
    }

    .flex-bottom {
      display: flex;
      @media (max-width: 980px) {
        flex-direction: column;
      }
    }
    .herbal_remedy {
      display: flex;
      flex-direction: row;
      width: 66.7%;
      max-width: 718.66px;
      grid-column: span 2;
      border-bottom: 2px solid rgb(0, 0, 0);
      border-right: 2px solid rgb(0, 0, 0);
      border-left: 2px solid rgb(0, 0, 0);

      @media (max-width: 980px) {
        max-width: 100%;
        width: 100%;
      }
      .content {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
      }
      .leaf_logo {
        width: 72px;
        height: 72px;
      }
    }

    .cta_section_two {
      display: block;
      font-family: "Josefin Sans", sans-serif;
      text-decoration: none;
      border-radius: 50px;
      background: #a9804a;
      color: white;
      padding: 15px 40px;
      font-size: 22px;

      .fas.fa-chevron-right {
        opacity: 0;
        position: absolute;
      }
    }

    .cta_section_two:hover {
      .fas.fa-chevron-right {
        opacity: 1;
        transition: all 0.1s ease-in-out;
        position: absolute;
        transform: translateX(50%);
      }
    }

    .box_one,
    .box_two,
    .box_three,
    .box_four,
    .herbal_remedy {
      padding: 30px;
      text-align: left;
      line-height: 1.8em;
    }
    .box_one,
    .box_two,
    .box_three,
    .box_four {
      width: 33.3333%;
      max-width: 359.33px;
      @media (max-width: 980px) {
        width: 100%;
        max-width: 100%;
      }
    }
    .box_one {
      border: 2px solid rgb(0, 0, 0);
    }
    .box_two {
      border-bottom: 2px solid rgb(0, 0, 0);
      border-top: 2px solid rgb(0, 0, 0);
      border-right: 2px solid rgb(0, 0, 0);
    }
    .box_three {
      border-bottom: 2px solid rgb(0, 0, 0);
      border-top: 2px solid rgb(0, 0, 0);
      border-right: 2px solid rgb(0, 0, 0);
    }
    .box_four {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 2px solid rgb(0, 0, 0);
      border-right: 2px solid rgb(0, 0, 0);
    }
  }

  // .box_one,
  // .box_two,
  // .box_three,
  // .box_four,
  // .herbal_remedy {
  //   @media (max-width: 980px) {
  //     border-top: 2px solid rgb(0, 0, 0);
  //     border-right: 2px solid rgb(0, 0, 0);
  //     border-left: 2px solid rgb(0, 0, 0);
  //     border-bottom: none;
  //   }
  // }
}

.section_three {
  display: flex;
  text-align: center;
  justify-content: center;
  height: auto;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 90px auto;
  width: 100%;
  background-image: url("https://sayeed.sandbox.etdevs.com/divi/wp-content/uploads/sites/2/2020/06/holistic-healer-47.jpg");
  background-position: bottom center;
  background-size: initial;
  background-repeat: no-repeat;
  @media (max-width: 980px) {
    background-image: none;
  }
  padding-bottom: 130px;

  .wrapper {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 40px;
  }

  .title {
    text-align: left;
    display: flex;
    color: #a9804a;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.2em;
    justify-content: flex-start;
    margin-bottom: 410px;
    max-width: 18ch;
    @media (max-width: 980px) {
      max-width: auto;
    }
  }

  .row {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .col-left {
    justify-content: flex-start;
    width: 10%;
  }
  .col_right {
    justify-content: flex-end;
    position: relative;
    width: 50%;
  }
  .overlay {
    position: absolute;
    width: 510px;
    height: auto;
    z-index: 9;
  }
  .placeholder {
    position: relative;
    width: 510px;
    height: auto;
  }
  .row_two {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -1500px;
    left: 100px;
    height: 380px;
  }
  .banner {
    position: relative;
    margin-left: -240px;
    z-index: -1;
  }
  .about-me {
    z-index: 999;
    position: relative;
    width: 35%;
    height: 326px;
    background-color: pink;
    background-image: linear-gradient(
        180deg,
        rgba(249, 243, 235, 0.8) 0%,
        rgba(249, 243, 235, 0.8) 100%
      ),
      url(https://sayeed.sandbox.etdevs.com/divi/wp-content/uploads/sites/2/2020/05/holistic-healer-21.png);
    background-color: #f9f3eb;
    background-repeat: repeat;
    padding: 40px 25px;
    text-align: left;
    @media (max-width: 900px) {
      width: 100%;
    }

    h3 {
      font-family: "Josefin Sans";
      font-size: 60px;
      line-height: 1.2em;
      font-weight: 600px;
      color: #333;
    }
    p {
      font-family: "Muli", sans-serif;
      line-height: 1.8em;
      font-size: 16px;
      color: #666;
      word-wrap: break-word;
      margin-top: 20px;
    }
  }

  .learn_more_btn {
    display: block;
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none;
    border-radius: 50px;
    background: #a9804a;
    color: white;
    padding: 15px 40px;
    font-size: 22px;
    margin-top: 240px;
    line-height: 1.5em;
    margin-left: 50px;
  }

  .container {
    margin-right: 40px;
  }

  .socials {
    display: flex;
    flex-direction: column;
    z-index: 9;
    width: 20px;
    margin-top: 200px;

    .icon {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

.section_four {
  position: relative;
  background-image: url("https://sayeed.sandbox.etdevs.com/divi/wp-content/uploads/sites/2/2020/05/holistic-healer-35.png");
  background-repeat: repeat;
  height: auto;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 90px auto;
  z-index: -1;

  .row {
    display: flex;
    justify-content: flex-end;

    .quote {
      background: #afe0c2;
      height: 217px;
      width: 500px;
      justify-content: center;
      text-align: left;

      .wrapper {
        width: 90%;
      }

      .author {
        font-family: "Josefin Sans", "Helvetica";
        font-size: 14px;
        color: #6666;
        font-weight: 600;
        margin-bottom: 30px;
        margin-top: 20px;
      }
      .text {
        font-family: "Josefin Sans", "Helvetica";
        font-size: 20px;
        line-height: 1.8em;
        font-weight: 600;
        color: #333;
        margin-top: 40px;
        word-wrap: break-word;
      }
    }

    &:nth-child(2) {
      max-width: 1000px;
      height: 500px;
      align-items: center;
      flex-direction: column;

      .col {
        max-width: 80%;
        display: flex;

        h1 {
          font-size: 140px;
          font-weight: 600;
          color: #fff;
          line-height: 1.2em;
          text-align: left;
          font-family: "Josefin Sans", "Helvetica", "Arial";
        }

        &:nth-child(2) {
          max-width: 37%;
          font-size: 16px;
          color: #fff;
          text-align: left;
          font-weight: 500;
          line-height: 1.8em;
          font-family: "Muli", sans-serif;

          p {
            left: 1000px;
            font-size: 16px;
            color: #fff;
            text-align: left;
            font-weight: 500;
            line-height: 1.8em;
            font-family: "Muli", sans-serif;
          }
        }
      }
    }
  }

  .sage_container {
    max-width: 1080px;
    margin: auto;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url(https://sayeed.sandbox.etdevs.com/divi/wp-content/uploads/sites/2/2020/06/holistic-healer-50.jpg);
    z-index: 9999;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    max-width: 1000px;
    margin: auto;
    position: relative;
    height: 956px;

    video {
      position: absolute;
      bottom: 0px;
      left: 0px;
      z-index: 99999;
      background: blueviolet;
      cursor: pointer;
      height: 200px;
      width: auto;
    }
  }
  // .sage {
  //   width: 1000px;
  // }

  // .description {
  //   position: absolute;
  //   bottom: 400px;
  //   left: 400px;
  //   width: 37%;

  //   p {
  //     left: 1000px;
  //     font-size: 16px;
  //     color: #fff;
  //     text-align: left;
  //     font-weight: 500;
  //     line-height: 1.8em;
  //     font-family: "Muli", sans-serif;
  //   }
  // }

  // .text_block {
  //   position: absolute;
  //   top: 200px;
  //   left: 190px;

  //   h1 {
  //     font-size: 140px;
  //     font-weight: 600;
  //     color: #fff;
  //     line-height: 1.2em;
  //     width: 77%;
  //     text-align: left;
  //     font-family: "Josefin Sans", "Helvetica", "Arial";
  //   }
  // }
}

.section_five {
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 90px auto;
  max-width: 1080px;

  .title_row {
    width: 1080px;
    height: auto;
    position: relative;
    display: flex;
  }

  .title {
    font-size: 60px;
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    line-height: 1.2em;
    color: #333;
    text-align: left;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1080px;
    height: auto;
    margin-top: 40px;
  }

  .boxes {
    display: flex;
    flex-direction: row;
    z-index: 9;
    width: 200px;
    margin-top: 20px;
    height: 233px;
    margin-left: 0px;
  }

  .contents_one {
    padding: 40px 30px 40px 30px;
    background-color: #f7f5e8;

    .number {
      font-size: 36px;
      line-height: 1.2em;
      text-align: left;
      color: #333;
      font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    }

    h4 {
      padding-top: 20px;
      padding-bottom: 20px;
      font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
      font-weight: 600;
      line-height: 1.8em;
      font-size: 18px;
      text-align: left;
      color: #333;
    }
    p {
      font-family: "Muli", sans-serif;
      color: #666;
      line-height: 1.8em;
      text-align: left;
      word-wrap: break-word;
    }
  }
  .contents_two {
    padding: 40px 30px 40px 30px;
    background-color: #afe0c2;

    .number {
      font-size: 36px;
      line-height: 1.2em;
      text-align: left;
      color: #333;
      font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    }

    h4 {
      padding-top: 20px;
      padding-bottom: 20px;
      font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
      font-weight: 600;
      line-height: 1.8em;
      font-size: 18px;
      text-align: left;
      color: #333;
    }
    p {
      font-family: "Muli", sans-serif;
      color: #666;
      line-height: 1.8em;
      text-align: left;
      word-wrap: break-word;
    }
  }
  .contents_three {
    padding: 40px 30px 40px 30px;
    background-color: #f6ddd7;

    .number {
      font-size: 36px;
      line-height: 1.2em;
      text-align: left;
      color: #333;
      font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    }

    h4 {
      padding-top: 20px;
      padding-bottom: 20px;
      font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
      font-weight: 600;
      line-height: 1.8em;
      font-size: 18px;
      text-align: left;
      color: #333;
    }
    p {
      font-family: "Muli", sans-serif;
      color: #666;
      line-height: 1.8em;
      text-align: left;
      word-wrap: break-word;
    }
  }
  .contents_four {
    padding: 40px 30px 40px 30px;
    background-color: #f0ece4;

    .number {
      font-size: 36px;
      line-height: 1.2em;
      text-align: left;
      color: #333;
      font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    }

    h4 {
      padding-top: 20px;
      padding-bottom: 20px;
      font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
      font-weight: 600;
      line-height: 1.8em;
      font-size: 18px;
      text-align: left;
      color: #333;
    }
    p {
      font-family: "Muli", sans-serif;
      color: #666;
      line-height: 1.8em;
      text-align: left;
      word-wrap: break-word;
    }
  }
}

.block.demo {
  padding: 0px 40px;
  margin-bottom: 200px;
  background-image: url("https://sayeed.sandbox.etdevs.com/divi/wp-content/uploads/sites/2/2020/06/holistic-healer-47.jpg");
  background-position: bottom center;
  background-size: initial;
  background-repeat: no-repeat;
  .row {
    display: flex;
    gap: 1em;
    @media screen and (max-width: 768px) {
      flex-direction: column; //the contents inside the rows will now stack into columns, not the rows themselves
    }

    &:nth-child(1) {
      //this is selecting the first row
      .col {
        flex-basis: 100%;
      }

      img {
        width: 510px;
        height: auto;
      }
    }

    &:nth-child(2) {
      //this selects the second row element
      justify-content: flex-end;
      align-items: flex-end;
      margin-top: -100px;
      @media screen and (max-width: 768px) {
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 0px;
      }

      .col {
        padding: 30px;
        max-width: 500px;
        @media screen and (max-width: 768px) {
          max-width: none;
        }

        .fab {
          color: black;
        }

        &:nth-child(2) {
          //this selects the second column
          background-image: linear-gradient(
              180deg,
              rgba(249, 243, 235, 0.8) 0%,
              rgba(249, 243, 235, 0.8) 100%
            ),
            url(https://sayeed.sandbox.etdevs.com/divi/wp-content/uploads/sites/2/2020/05/holistic-healer-21.png);
          background-color: #f9f3eb;
          background-repeat: repeat;
          padding: 4em 2em;
          .title {
            font-size: 3em;
          }
        }
      }
    }
  }

  .headline {
    font-size: 48px;
    color: #a9804a;
    font-weight: 500;
    max-width: 18ch;
    line-height: 1.2em;
  }
  .social {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
    @media screen and (max-width: 768px) {
      flex-direction: row;
      padding: 60px 0px 10px 0px;
    }
  }
}

.section_six {
  background-image: url("https://sayeed.sandbox.etdevs.com/divi/wp-content/uploads/sites/2/2020/06/holistic-healer-49.jpg");
  height: 803px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .wrapper {
    background: peachpuff;
    height: 590px;
    padding-bottom: 40px;
    flex-direction: row;
  }

  // .border {
  //   position: absolute;
  //   z-index: 0;
  //   width: 977px;
  //   height: 560px;
  //   border: 2px solid black;
  //   left: 0;
  //   right: 0;
  //   margin-left: auto;
  //   margin-right: auto;
  // }

  .row {
    display: flex;
    background-color: #ffffff;
    height: 490px;
    width: 90%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;

    .fas {
      font-size: 28px;
      opacity: 0;
    }
    .fas.fa-chevron-left {
      position: absolute;
      left: 30px;
      transition: all 0.2s ease-in-out;
    }

    .fas.fa-chevron-right {
      position: absolute;
      right: 30px;
      transition: all 0.2s ease-in-out;
    }

    &:nth-child(2) {
      height: 20px;
      justify-content: center;
      flex-direction: row;
    }

    .quote {
      font-family: "Josefin Sans", Helvetica, Arial, Lucida, sans-serif;
      font-size: 30px;
      color: #2f2f2f;
      line-height: 1.2em;
      font-weight: 500;
      padding-bottom: 10px;
      width: 80%;

      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
    }
    .quote.displayNone {
      display: none;
    }

    .author.one,
    .author.two,
    .author.three {
      font-family: "Muli", sans-serif;
      font-style: italic;
      font-size: 18px !important;
      color: #2f2f2f !important;
      line-height: 1.8em;

      @media screen and (max-width: 768px) {
        font-size: 10px;
      }
    }

    .quote.two,
    .quote.three,
    .author.two,
    .author.three {
      display: none;
    }

    // .author.displayNone {
    //   display: none;
    // }

    .quote_two {
      display: none;
    }

    .quote_three {
      display: none;
    }

    // .quote.two.displayNone {
    //   display: none;
    // }
  }
  .row:hover {
    .fas {
      opacity: 1;
      cursor: pointer;
    }
  }

  a {
    display: inline-block;
    background-color: #000000;
    text-indent: -9999px;
    border-radius: 7px;
    width: 7px;
    height: 7px;
    margin-right: 10px;
    padding: 0;
    opacity: 0.5;
    margin-bottom: 100px;
  }
}

.section_seven {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 50px;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:nth-child(2) {
      padding: 30px;
      margin-top: 40px;

      .box_one,
      .box_two,
      .box_three {
        display: block;
        overflow: auto;
        height: 100%;
      }

      @media screen and (max-width: 768px) {
        flex-direction: column;

        .box_one,
        .box_two,
        .box_three {
          border: 2px solid rgb(0, 0, 0);
        }

        .box_one,
        .box_two {
          border-bottom: none;
        }
      }
    }
  }

  .btn {
    display: block;
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none;
    border-radius: 50px;
    background: #afe0c2;
    color: white;
    font-size: 22px;
  }

  h5 {
    color: #333;
    line-height: 1.8em;
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: 400;
    font-family: "Josefin Sans", Helvetica, Arial, Lucida, sans-serif;
  }
  .meta {
    color: #666;
    line-height: 1.8em;
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: 500;
    font-family: "Josefin Sans", Helvetica, Arial, Lucida, sans-serif;
  }
  p {
    font-family: "Muli", sans-serif;
    line-height: 1.8em;
    word-wrap: break-word;
    color: #666;
  }

  .box_one,
  .box_two,
  .box_three {
    padding: 30px;
    text-align: left;
    line-height: 1.8em;
  }
  .box_one,
  .box_two,
  .box_three {
    width: 33.3333%;
    max-width: 359.33px;
    @media (max-width: 980px) {
      width: 100%;
      max-width: 100%;
    }
  }
  .box_one {
    border: 2px solid rgb(0, 0, 0);
  }
  .box_two {
    border-bottom: 2px solid rgb(0, 0, 0);
    border-top: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
  }
  .box_three {
    border-bottom: 2px solid rgb(0, 0, 0);
    border-top: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
  }
}

.section_eight {
  display: flex;
  flex-direction: row;
  height: 450px;
  margin-top: 30px;
  background-size: initial;
  background-position: top left;
  background-repeat: repeat;
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0.8) 100%
    ),
    url(https://sayeed.sandbox.etdevs.com/divi/wp-content/uploads/sites/2/2020/05/holistic-healer-21.png);

  .row {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    &:nth-child(2) {
      display: flex;
      margin-top: 20px;
    }
  }

  .col {
    padding: 30px;
    text-align: center;
  }
  .btn {
    margin-top: 40px;
  }

  h1 {
    font-family: "ZCOOL XiaoWei", Georgia, "Times New Roman", serif;
    font-size: 80px;
    color: #a9804a;
    padding-bottom: 10px;
    line-height: 1em;
    font-weight: 500;
    @media screen and (max-width: 768px) {
      font-size: 30px;
    }
  }

  h5 {
    font-family: "Josefin Sans", Helvetica, Arial, Lucida, sans-serif;
    line-height: 1.4em;
    font-size: 20px;
    color: #333;
    padding-bottom: 10px;
    text-align: center;
  }
  p {
    font-family: "Muli", sans-serif;
    line-height: 1.8em;
    color: #666;
    font-size: 16px;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #171616;

  .row {
    height: 55px;
    width: 889px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 980px) {
      flex-direction: column-reverse;
      float: none;
      text-align: center;
      margin: 10px 0 9px;
    }
  }
  p {
    text-align: left;
    color: #666;
    float: left;
    font-size: 14px;
    font-family: "Open Sans", Arial, sans-serif;
  }
  .social {
    display: flex;
    list-style: none;
    gap: 1.5em;

    ul {
      list-style: none;
    }

    a {
      color: #666;
      font-size: 27px;
    }
  }
  .social.wrapper {
    display: flex;
  }
}

.dropdown {
  position: relative;
}

.menu_container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.dropdown_menu {
  position: relative;
  width: 500px;
  border-radius: 0.25rem;
  background: #ffff;
  padding: 2rem;
  border-top: 3px solid #2ea3f2;
  opacity: 0;
  display: none;
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
  // transform: translateY(-10px);

  ul {
    display: flex;
    flex-direction: column;
  }

  li {
    color: #20292f;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    text-align: left;
    padding: 10px 5%;
    border-radius: 0.15rem;
  }
  li:hover {
    background: rgb(221, 220, 220);
  }
}

.dropdown.active > .menu_button + .dropdown_menu {
  opacity: 1;
  transform: translateY(0);
}

.dropdown_menu.displayBlock {
  display: block;
}

.dropdown_menu.opacityOne {
  opacity: 1;
}

@media (min-width: 831px) {
  .dropdown_menu.displayBlock {
    display: none;
  }
  .dropdown_menu.opacityOne {
    opacity: 0;
  }
}
