* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* //so height and width will be as we want */
}

body {
  font-family: "ZCOOL XiaoWei", serif;
  margin: 0;
  /* min-height: 100vh;
  max-width: 400px;
  margin: 0 auto; */
}

/* nav */

nav {
  height: 72px;
  display: flex;
  margin: 0;
  justify-content: space-between;
  text-align: right;
  padding: 40px 40px;
  width: 100%;
  position: fixed;
  height: 69px;
  z-index: 99;
  align-items: center;
  background: white;
}

.title-logo {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  color: #20292f;
}

.title-logo:hover {
  cursor: pointer;
}

nav li {
  display: inline-block;
  padding: 20px 7px;
  list-style: none;
  flex-grow: 1;
  color: #20292f;

  text-decoration: none;
}

nav li a {
  color: #20292f;
  font-size: 9px;
  letter-spacing: 1px;
  font-weight: 400px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

nav li a:hover {
  color: #71818c;
  cursor: pointer;
}

nav li:nth-last-of-type(1) {
  margin: 0;
}

.cart-icon {
  height: 17px;
  justify-content: right;
}

/* hero */

.block.hero {
  position: relative;
}

.hero-content {
  background: #f9f3eb url("./assets/hero_bg.png") center center repeat;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.logo {
  margin-top: 87px;
}
.hero-inner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
  text-align: center;
}

.hero-title {
  letter-spacing: 1px;
  width: 66%;
  margin: 15px;
  font-size: 50px;
  color: #a9804a;
  font-family: "ZCOOL XiaoWei", Georgia, "Times New Roman", serif;
  font-weight: 300;
}

.hero-description {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #666666;
  font-size: 13px;
  /* font-weight: 200; */
  line-height: 16px;
  width: 88%;
}

.hero-CTA {
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  border-radius: 50px;
  background: #a9804a;
  color: white;
  padding: 25px 45px;
  font-size: 12px;
}

.big_fern_left {
  right: 1100px;
  top: 300px;
  /* left: 0.3px; */
  position: absolute;
  width: auto;
  max-width: 40%;
  height: auto;
  max-height: auto;
  float: left;
  z-index: 1;
  /* transform: translateY(63px) rotate3d(0, 0, 1, 6.291deg);
  transition: transform 200ms linear; */
}

.mint_fern {
  right: 1100px;
  top: 700px;
  /* left: 0.3px; */
  position: absolute;
  width: auto;
  max-width: 30%;
  height: auto;
  max-height: auto;
  float: left;
}

.plant_right {
  left: 1100px;
  top: 400px;
  /* left: 0.3px; */
  position: absolute;
  width: auto;
  max-width: 30%;
  height: auto;
  max-height: auto;
  float: right;
}

.section_two_title {
  font-family: Josefin Sans;
  font-weight: 600;
}
.section_two {
  height: 900px;
  display: flex;
  flex-direction: column;
  /* width: 88%; */
  margin: 90px 90px;
  text-align: center;
}

.box_one {
  border: 2px solid #333;
}
