* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* //so height and width will be as we want */
}

body {
  font-family: "ZCOOL XiaoWei", serif;
  margin: 0;
  /* min-height: 100vh;
  max-width: 400px;
  margin: 0 auto; */
}

/* nav */

nav {
  height: 72px;
  display: flex;
  margin: 0;
  justify-content: space-between;
  text-align: right;
  padding: 20px 10px;
  width: 100%;
  position: fixed;
  height: 69px;
  z-index: 1;
  align-items: center;
  background: white;

  /* justify-content: space-between; */

  /* align-items: center; */
}

.title-logo {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 23px;
  color: #20292f;
}

/* nav ul {
  display: flex;
} */

nav li {
  display: inline-block;
  /* padding: 20px 10px; */
  list-style: none;
  flex-grow: 1;
  color: #20292f;
  font-size: 11px;
  font-weight: 500px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

nav li a {
  color: #20292f;
  font-size: 15px;
  font-weight: 500px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

nav li:nth-last-of-type(1) {
  margin: 0;
}

.cart-icon {
  height: 20px;
  padding-left: 10px;
  justify-content: right;
}

/* hero */

.hero-content {
  background: #f9f3eb url("assets/Hero\ Banner\ Bg.png");
  height: 400px;
}

.hero-title {
  border-left: 5px #a9804a;
}

.hero-CTA {
  font-family: "Josefin Sans", sans-serif;
}
