* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // overflow-x: hidden;
  /* //so height and width will be as we want */
}

body {
  font-family: "ZCOOL XiaoWei", serif;
  margin: 0;
}

.page-wrapper {
  overflow: hidden;
}

/* nav */

nav {
  height: 80px;
  width: 100%;
  padding: 0;
  position: fixed;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  box-shadow: 0 0 30px rgba(7, 51, 84, 0.17);
  background-color: white;

  .wrapper {
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }

  .row,
  .col {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .col-left {
    justify-content: flex-start;
  }
  .row {
    justify-content: space-between;
    max-width: 1440px;
    padding: 0 40px;
  }
  .col-right {
    justify-content: flex-end;
  }
}

.title-logo {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: clamp(16px, 2vw, 23px);
  letter-spacing: 1px;
  color: #20292f;
  text-decoration: none;
}

.title-logo:hover {
  cursor: pointer;
}

.desktop-menu {
  display: flex;
  gap: 22px;

  @media (max-width: 830px) {
    display: none;
  }
}

.mobile-menu {
  height: 32px;
  width: 32px;
  margin-left: 16px;
  background-color: skyblue;
  display: none;
  cursor: pointer;

  @media (max-width: 830px) {
    display: block;
  }
}

nav li {
  display: inline-block;
  list-style: none;
  flex-grow: 1;
  color: #20292f;

  text-decoration: none;
}

nav li a {
  color: #20292f;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 400px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

nav li a:hover {
  color: #71818c;
  cursor: pointer;
}

nav li:nth-last-of-type(1) {
  margin: 0;
}

.cart-icon {
  height: 17px;
  justify-content: right;
  margin-left: 22px;
}

/* hero */

.block.hero {
  position: relative;

  img {
    width: 100%;
  }

  .asset {
    position: absolute;
    bottom: 0;
    width: 60vw;
    max-width: 600px;
    height: 500px;
    opacity: 0.5;
  }
  .asset_wrapper {
    position: relative;
  }

  .one {
    left: 0;

    .big_fern_left {
      position: absolute;
      top: 0;
      left: -200px;
      z-index: 1;
    }
    .mint_fern {
      position: absolute;
      bottom: 0;
      left: -200px;
      z-index: 0;
    }
  }
  .two {
    right: -200px;

    .plant_right {
      z-index: 1;
      position: absolute;
      width: 450px;
      top: 100px;

      // @media (max-width: 970px) {
      //   width: 250px;
      //   right: -200px;
      // }
    }

    .plant_right2 {
      position: absolute;
      top: 150px;
      right: 100px;
      // right: -170px;
      z-index: 0;
      width: 300px;
      @media (max-width: 970px) {
        width: 250px;
        height: auto;
        right: -200px;
      }
    }
  }
  .wrapper {
    background: url("https://assets.codepen.io/4809878/hero_bg.png");
    background-repeat: repeat;
    background-size: 300px;
    background-color: #f9f3eb;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    // max-width: 1440px;
  }
}

.logo {
  margin-top: 87px;
}
.hero-inner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
  text-align: center;
}

.hero-title {
  letter-spacing: 1px;
  width: 66%;
  margin: 15px;
  font-size: 80px;
  color: #a9804a;
  font-family: "ZCOOL XiaoWei", Georgia, "Times New Roman", serif;
  font-weight: 300;
  @media (max-width: 980px) {
    font-size: 48px;
  }
}

.hero-description {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #666666;
  font-size: 18px;
  line-height: 1.4em;
  word-wrap: break-word;
  width: 88%;
}

.cta {
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  border-radius: 50px;
  background: #a9804a;
  color: white;
  padding: 25px 45px;
  font-size: 22px;
  @media (max-width: 980px) {
    font-size: 18px;
  }
}

// SECTION TWO

.section_two {
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 90px auto;
  text-align: center;
  max-width: 1080px;

  .section_two_title {
    padding-bottom: 40px;
    font-family: Josefin Sans;
    font-weight: 600;
    font-size: 60px;
    color: #333;
    @media (max-width: 980px) {
      font-size: 42px;
    }
    @media (max-width: 767px) {
      font-size: 24px;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;

    h3 {
      font-family: "Josefin Sans", sans-serif;
      font-size: 20px;
      color: #333;
      margin-bottom: 10px;
      @media (max-width: 767px) {
        font-size: 18px;
      }
    }
    p {
      font-family: sans-serif;
      font-size: 16px;
      color: #666;
      @media (max-width: 767px) {
        font-size: 14px;
      }
    }

    .flex-top {
      display: flex;
      @media (max-width: 980px) {
        flex-direction: column;
      }
    }

    .flex-bottom {
      display: flex;
      @media (max-width: 980px) {
        flex-direction: column;
      }
    }
    .herbal_remedy {
      display: flex;
      flex-direction: row;
      width: 66.7%;
      max-width: 718.66px;
      grid-column: span 2;
      border-bottom: 1px solid rgb(0, 0, 0);
      border-right: 1px solid rgb(0, 0, 0);
      border-left: 1px solid rgb(0, 0, 0);

      @media (max-width: 980px) {
        max-width: 100%;
        width: 100%;
      }
      .content {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
      }
      .leaf_logo {
        width: 72px;
        height: 72px;
      }
    }

    .cta_section_two {
      display: block;
      font-family: "Josefin Sans", sans-serif;
      text-decoration: none;
      border-radius: 50px;
      background: #a9804a;
      color: white;
      padding: 15px 40px;
      font-size: 22px;
    }
    .box_one,
    .box_two,
    .box_three,
    .box_four,
    .herbal_remedy {
      padding: 30px;
      text-align: left;
      line-height: 1.8em;
    }
    .box_one,
    .box_two,
    .box_three,
    .box_four {
      width: 33.3333%;
      max-width: 359.33px;
      @media (max-width: 980px) {
        width: 100%;
        max-width: 100%;
      }
    }
    .box_one {
      border: 1px solid rgb(0, 0, 0);
    }
    .box_two {
      border-bottom: 1px solid rgb(0, 0, 0);
      border-top: 1px solid rgb(0, 0, 0);
      border-right: 1px solid rgb(0, 0, 0);
    }
    .box_three {
      border-bottom: 1px solid rgb(0, 0, 0);
      border-top: 1px solid rgb(0, 0, 0);
      border-right: 1px solid rgb(0, 0, 0);
    }
    .box_four {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid rgb(0, 0, 0);
      border-right: 1px solid rgb(0, 0, 0);
    }
  }
}

.section_three {
  display: flex;
  text-align: center;
  justify-content: center;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 90px auto;
  width: 100%;

  .wrapper {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 40px;
  }

  .title {
    text-align: left;
    display: flex;
    color: #a9804a;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.2em;
    justify-content: flex-start;
    margin-bottom: 410px;
    max-width: 18ch;
    @media (max-width: 980px) {
      max-width: auto;
    }
  }

  .row {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .col-left {
    justify-content: flex-start;
    width: 10%;
  }
  .col_right {
    justify-content: flex-end;
    position: relative;
    width: 50%;
  }
  .overlay {
    position: absolute;
    width: 410px;
    height: auto;
    z-index: 9;
  }
  .placeholder {
    position: relative;
    width: 400px;
    height: auto;
  }
  .row_two {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    background: red;
    z-index: 999;
  }
  .banner {
    position: relative;
    margin-left: -240px;
    z-index: -1;
  }
  .about-me {
    z-index: 999;
    position: relative;
    width: 47.25%;
    background-color: pink;
    background-image: linear-gradient(
      180deg,rgba(249,243,235,0.8) 0%,rgba(249,243,235,0.8) 100%), url(https://sayeed.sandbox.etdevs.com/divi/wp-content/uploads/sites/2/2020/05/holistic-healer-21.png);
    background-color: #f9f3eb;
    background-repeat: repeat;
    padding: 40px 20px;
    text-align: left;

    @media (max-width: 900px) {
      width: 100%;

    }


    h3 {
      font-family: "Josefin Sans";
      font-size: 60px;
      line-height: 1.2em;
      font-weight: 600px;
      position: relative;
    }
    p {
      position: relative;
      font-family: 'Muli',sans-serif;
      line-height: 1.8em;
      font-size: 16px;
      color: #666;
    }
  }

  .learn_more_btn{
    display: block;
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none;
    border-radius: 50px;
    background: #a9804a;
    color: white;
    padding: 15px 40px;
    font-size: 22px;
  }
  
  .socials {
    display: flex;
    flex-direction: column;
    z-index: 9;
  }
}
